
.container {
	width:100%;
	min-width:1200px;
	margin:0 auto;
}
.login {
	width:100%;
	max-width:500px;
	margin:200px auto;
}
.login h2 {
	width:100%;
	background:#18beb0;
	padding:20px 0px;
	font-size:24px;
	text-align: center;
	color:#fff;
	font-weight:bold;
}
.login ul {
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
	padding:40px 40px 20px;
}
.login ul li {
	margin-bottom:15px;
}
.login ul li b {
	display:block;
	margin-bottom:5px;
}
.login ul li input {
	width:100%;
	border-radius:40px;
	height:40px;
	line-height:38px;
	padding: 0px 20px;
}
.login ul li button{
	width:100%;
}
.login .login_btm {
	border:solid 1px #ddd;
	border-top:none;
	padding:0px 40px 20px;
	text-align: right;
}
.login .login_btm a {
	font-size:14px;
}
.modal {
	max-width:500px;
}
.ui-dialog {
	padding:0;
}
.ui-dialog .ui-dialog-titlebar {
	border:none;
	border-radius:0;
}
.ui-dialog .ui-dialog-content.modal {
	padding:20px;
}
.modal ul {}
.modal ul li {
	display:flex;
    align-items: center;
	margin-bottom:5px;
}
.modal ul li b {
	width:100px;
	display:inline-block;
}
.modal ul li input {
	height:32px;
	line-height: 30px;
	display:inline-block;
	width:calc(100% - 100px);
}
.modal ul li label{
	width:120px;
}
.modal ul li select,
.modal ul li input{
	width:150px;
}
.tab {}
.tab .tab_tit {
	display:block;
	margin-top:30px;
	margin-bottom:20px;
}
.tab .tab_tit ul {
	display:flex;
	border-bottom:solid 1px #18beb0;
	justify-content: flex-start;
}
.tab .tab_tit ul li {
	margin-right:8px;
}
.tab .tab_tit ul li a {
	padding:8px 30px;
	margin-bottom:-1px;
	background:#18beb0;
	color:#fff;
	display:block;
}
.tab .tab_tit ul li a.on {
	background:#3160b6;
}
.tab .tab_tit ul li a:not(.on):hover {
	background:#0da094;
}
.tab .tab_cont  {}
.tab .tab_cont > div  {
	display:none;
}
.tab .tab_cont > div.on {
	display:block;
}
.stat{
	border:solid 1px #ddd;
	padding:20px;
	min-height:300px;
	background:#fafafa;
}
input[type='text'].date {
    width:130px;
    padding-right:30px;
    background:url(../images/icon_calendar.png) no-repeat right center #fff;
}
.divide{
    display:flex;
    justify-content: space-between;
}
.divide .half {
    width:49%;
}
.auth_popup {
    display:none;
}
.auth_popup dl dt {
    display:block;
    margin-bottom:5px;
}
.auth_popup dl dd {
    margin-bottom:10px;
}

/* 트레킹관리 GIS 지도 MAP */
.tracking {
    height: calc(100vh - 114px);
    overflow-y: hidden;
    position: relative;
    width:100%;
    min-width:1200px;
    min-height: 700px;
}
.tracking>.left {
	position:absolute;
	z-index: 2;
	left: 0px;
	top: 0;
	bottom: 0;
	background: #0073bd;
}
.tracking>.left .left_ul {}
.tracking>.left .left_ul li {
    border-bottom: solid 1px rgba(255,255,255,0.3);
}
.tracking>.left .left_ul li a{
    padding: 10px;
    text-align: center;
    display: block;
    color: #fff;
}
.tracking>.left .left_ul li a.on{
    background:#009f74;
}
.tracking>.left .left_ul li a:not(.on):hover{
    background:#0069ad;
}
.tracking .top_left {
	position:absolute;
	z-index: 2;
	top: 10px;
	background: #fff;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
	left: 100px;
	border-radius: 5px;
	overflow: hidden;
}
.tracking .top_left .top_icons {
    display: flex;
}
.tracking .top_left .top_icons li a{
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -9999px;
    font-size: 0px;
}
.tracking .top_left .top_icons li a.ico01{
	background:url(../images/tool01.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico02{
	background:url(../images/tool02.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico03{
	background:url(../images/tool03.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico04{
	background:url(../images/tool04.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico05{
	background:url(../images/tool05.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico06{
	background:url(../images/tool06.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico07{
	background:url(../images/tool07.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico08{
	background:url(../images/tool08.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico09{
	background:url(../images/tool09.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico10{
	background:url(../images/tool10.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico11{
	background:url(../images/tool11.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico12{
	background:url(../images/tool12.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico13{
	background:url(../images/tool13.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico14{
	background:url(../images/tool14.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico01.on,
.tracking .top_left .top_icons li a.ico01:hover{
	background:url(../images/tool01_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico02.on,
.tracking .top_left .top_icons li a.ico02:hover{
	background:url(../images/tool02_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico03.on,
.tracking .top_left .top_icons li a.ico03:hover{
	background:url(../images/tool03_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico04.on,
.tracking .top_left .top_icons li a.ico04:hover{
	background:url(../images/tool04_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico05.on,
.tracking .top_left .top_icons li a.ico05:hover{
	background:url(../images/tool05_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico06.on,
.tracking .top_left .top_icons li a.ico06:hover{
	background:url(../images/tool06_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico07.on,
.tracking .top_left .top_icons li a.ico07:hover{
	background:url(../images/tool07_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico08.on,
.tracking .top_left .top_icons li a.ico08:hover{
	background:url(../images/tool08_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico09.on,
.tracking .top_left .top_icons li a.ico09:hover{
	background:url(../images/tool09_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico10.on,
.tracking .top_left .top_icons li a.ico10:hover{
	background:url(../images/tool10_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico11.on,
.tracking .top_left .top_icons li a.ico11:hover{
	background:url(../images/tool11_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico12.on,
.tracking .top_left .top_icons li a.ico12:hover{
	background:url(../images/tool12_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico13.on,
.tracking .top_left .top_icons li a.ico13:hover{
	background:url(../images/tool13_on.png) no-repeat center center #fff;
}
.tracking .top_left .top_icons li a.ico14.on,
.tracking .top_left .top_icons li a.ico14:hover{
	background:url(../images/tool14_on.png) no-repeat center center #fff;
}
.tracking .top_right {
	position:absolute;
	z-index: 2;
	right: 30px;
	top: 10px;
	display: flex;
	width: 400px;
	justify-content: flex-end;
}
.tracking .top_right .map_type {
    display: flex;
    background: #fff;
    overflow: hidden;
    margin-right:10px;
    border-radius: 10px;
    height:32px;
}
.tracking .top_right .map_type li:first-child {
	border-right:solid 1px #ddd;
}
.tracking .top_right .map_type li {}
.tracking .top_right .map_type li a{
    display: block;
    font-size:14px;
    color:#666666;
    padding: 10px;
}
.tracking .top_right .map_type li a.on{
	background:#f08200;
	color:#fff;
}
.tracking .top_right select {
    border: none;
    border-radius: 10px;
    min-width: auto;
    margin-right: 10px;
}
.tracking .top_right .zoom_control{
	display:flex;
	flex-direction:column;
	border-radius:10px;
	overflow:hidden;
}
.tracking .top_right .zoom_control li {}
.tracking .top_right .zoom_control li a {
    display: block;
    width:40px;
    height:40px;
    text-indent: -9999px;
}
.tracking .top_right .zoom_control li:first-child a{
    border-bottom:solid 1px #ddd;
	background:url(../images/zoomin.png) no-repeat center center #fff;
}
.tracking .top_right .zoom_control li:last-child a{
	background:url(../images/zoonout.png) no-repeat center center #fff;
}
.tracking .top_right .zoom_control li:first-child a:hover{
    background:url(../images/zoomin_on.png) no-repeat center center #f08200;
}
.tracking .top_right .zoom_control li:last-child a:hover{
    background:url(../images/zoonout_on.png) no-repeat center center #f08200;
}
.tracking .bottom {
	position:absolute;
	z-index: 2;
	bottom: 10px;
	left: 100px;
	right: 10px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.tracking .bottom .location {
    display: flex;
    align-items: center;
}
.tracking .bottom label {
	margin-right:5px;
	line-height:32px;
	display:inline-block;
	font-size:14px;
	width: 50px;
	text-align: right;
}
.tracking .bottom select {
	background:url('../images/icon-select-arrow.png') no-repeat 98% center #f4f4f4;
	border:none;
	border-radius:10px;
	margin-right:5px;
	line-height:32px;
	min-width: 100px;
}
.tracking .bottom .btn_release{
	line-height:32px;
	font-size:14px;
	color:#fff;
	background:#f08200;
	border-radius:10px;
	padding:0px 15px;
}
.tracking .bottom .scale {
	display:flex;
}
.tracking .bottom .scale label {
}
.tracking .bottom .scale select  {}
.tracking .bottom .coord  {
    margin-right: 10px;
}
.tracking .bottom .coord label  {}
.tracking .bottom .coord input  {
	width:100px;
	display:inline-block;
	border:none;
	background:#f4f4f4;
	border-radius:10px;
}
.tracking .bottom .end_btns  {
    display: flex;
}
.tracking .bottom .end_btns li  {}
.tracking .bottom .end_btns li:first-child {
    border-right: solid 1px #ddd;
    padding-right: 5px;
    margin-right: 5px;
}
.tracking .bottom .end_btns li a  {display: inline-block;width: 25px;text-align: center;}
.tracking .bottom .end_btns li a img  {}
.tracking .map   {
    position: absolute;
    z-index: 1;
    height: calc(100vh - 114px);
    overflow: hidden;
    background:url(../images/map.jpg) no-repeat center center;
    min-width:1200px;
    background-size:cover;
    width: 100%;
    height: 100%;
}

.panel {
    position: absolute;
    top: 80px;
    display:none;
    width:360px;
    left: 100px;
    background: #fff;
    z-index: 2;
    padding: 25px;
    bottom: 80px;
    border-radius: 10px;
}
.panel.on {
    display:block;
}
.panel .panel_wrap {
    position: relative;
}
.panel .panel_wrap .panel_tab {}
.panel .panel_wrap .panel_tab ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.panel .panel_wrap .panel_tab ul li {
}
.panel .panel_wrap .panel_tab ul li a{
    color: #656565;
    display: inline-block;
    padding-bottom: 10px;
}
.panel .panel_wrap .panel_tab ul li a.on{
	border-bottom:solid 1px #009f74;
	color:#009f74;
}
.panel .panel_wrap .panel_cont {
}
.panel .panel_wrap .panel_cont .panel_div  {
    display:none;
}
.panel .panel_wrap .panel_cont .panel_div.on  {
    display:block;
}
.panel .panel_wrap .panel_cont .panel_div .schInput  {}
.panel .panel_wrap .panel_cont .panel_div .schInput input  {
    width:100%;
    display:block;
    border-radius:7px;
    border:solid 3px #009f74;
    line-height:32px;
    height:38px;
    background:url(../images/search_grn.gif) no-repeat 10px center;
    padding:0px 10px 0px 30px;
}
.panel .panel_wrap .panel_cont .panel_div .sch_result  {
    padding:30px 0px 10px;
}
.panel .panel_wrap .panel_cont .panel_div .sch_result h4  {
    font-size:14px;
    margin-bottom:20px;
}
.panel .panel_wrap .panel_cont .panel_div .sch_result ul  {
    border-top:solid 3px #009f74;
}
.panel .panel_wrap .panel_cont .panel_div .sch_result ul li  {
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom:solid 1px #ddd;
}
.panel .panel_wrap .panel_cont .panel_div .sch_result ul li a.result_title  {
    display:block;
    font-size:14px;
    line-height:1.5;
    padding:7px 10px;
    color:#333333;
    font-weight:100;
    width:calc(100% - 30px);
}
.panel .panel_wrap .panel_cont .panel_div .sch_result ul li a.result_pin  {
    width:30px;
    display:block;
    border-left:solid 1px #ddd;
    text-indent:-9999px;
    background:url(../images/pin_off.png) no-repeat center center;
}
.panel .panel_wrap .panel_cont .panel_div .sch_result ul li a.result_pin.on {
    background:url(../images/pin_on.png) no-repeat center center;}
.panel .btn_close_panel {
    position: absolute;
    right: -90px;
    background: url(../images/btn_left_close.png) no-repeat center center #fff;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    top: 10px;
}
#panel02 .btns{
    margin-top: -10px;
    margin-bottom: 5px;
}

.panel .panel_wrap .panel_cont h5 {
	font-size:14px;
	margin-bottom:10px;
}
.panel .panel_wrap .panel_cont p {
	margin-bottom:15px;
}
.panel .panel_wrap .panel_cont p select {
	width:100%;
}
.panel .panel_wrap .panel_cont .check_ul {
	margin-bottom:20px;
	padding-left:5px;
}
.panel .panel_wrap .panel_cont .check_ul li {
}
.panel .panel_wrap .panel_cont .check_ul li input {
	display:inline-block;
	margin-right:5px;
}
.panel .panel_wrap .panel_cont .check_ul li label{
	font-size:14px;
}
.tracking .zoom {
	display:flex;
	flex-direction:column;
	border-radius:10px;
	overflow:hidden;
    width:40px;
    background:#fff;
}
.tracking .zoom .btn_zoom_in {
    width:40px;
    height:32px;
    display:inline-block;
    border-bottom:solid 1px #ddd;
    text-indent:-9999px;
    background:url(../images/zoomin.png) no-repeat center center;
}
.tracking .zoom .btn_zoom_in:hover{
    background:url(../images/zoomin_on.png) no-repeat center center #f08200;
}
.tracking .zoom .zoom_value {
    display:block;
    margin:10px 0px;
    background:url(../images/zoom_bg.png) no-repeat center center;
    width:40px;
    height:100px;
}
.tracking .zoom .zoom_value button  {
 cursor:pointer;
 position:relative;
 height:16.66666667%;
 width:90%;
 margin: 0 auto;
 display: block;
}
.tracking .zoom .zoom_value button.on::after{
	width:3px;
	height:50%;
	background:#f08200;
	content:'';
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}
.tracking .zoom .zoom_value button.on ~ button::after {
	width:3px;
	height:100%;
	background:#f08200;
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}
.tracking .zoom .zoom_value button.on::before {
    content:'';
    position:absolute;
    background:#fff;
    z-index:1;
    border:solid 1px #ddd;
    width: 27px;
    height: 10px;
    transform:translate(-50%,-50%);
    left:50%;
    top:50%;
}
.tracking .zoom .btn_zoom_out  {
    width:40px;
    height:32px;
    display:inline-block;
    border-top:solid 1px #ddd;
    text-indent:-9999px;
    background:url(../images/zoonout.png) no-repeat center center;
}
.tracking .zoom .btn_zoom_out:hover{
    background:url(../images/zoonout_on.png) no-repeat center center #f08200;
}


































